{\rtf1\ansi\ansicpg950\cocoartf2865
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw11900\paperh16840\margl1440\margr1440\vieww11520\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 /* app/globals.css */\
@tailwind base;\
@tailwind components;\
@tailwind utilities;\
\
/* \uc0\u24341 \u20837  Google \u23383 \u39636 \u65292 \u30906 \u20445 \u20013 \u25991 \u23383 \u39636 \u39023 \u31034 \u27491 \u30906 \u19988 \u29694 \u20195  */\
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&display=swap');\
\
/* \uc0\u35731 \u25152 \u26377 \u20839 \u23481 \u38928 \u35373 \u20351 \u29992 \u33258 \u23450 \u32681 \u30340 \u28961 \u35183 \u32218 \u23383 \u39636  */\
body \{\
  font-family: 'Noto Sans TC', sans-serif;\
  color: theme('colors.text-dark');\
  background-color: theme('colors.background-light');\
\}}